@charset "UTF-8";
/* CSS Document */

html,
body {
	position:relative;
	margin: 0;
	padding: 0;
	background-image:url("https://2.bp.blogspot.com/-fxlibykhOc0/URYrhuk630I/AAAAAAAAAzA/953UIXjBx2g/s1600/nube.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	justify-content: center;
}

#image1{
	width:90%;
	position:fixed;
	z-index:4;
	bottom:0%;
	left:50%;
	transform: translate(-50%,1%);
	opacity:0.5;
}
#image2{
	width:20%;

	position:absolute;
	z-index:2;
	display:flex;
	justify-content: center;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	opacity:0.5;
}
